<div class="wrapper">
  <div class="page-header" style="background-color: black;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register login">
                        <h3 class="title">Welcome</h3>
                        <form class="register-form">
                            <label>Email</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                              </div>

                                <input required ngModel name="email" #email="ngModel" (change)="log(email)" id="email" type="text" class="form-control" placeholder="Email">
                                <div class="form-control-feedback" *ngIf="email.touched && !email.Valid">Email Required</div>
                              </div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                              </div>
                                <input required minlength="6" ngModel name="password" #password="ngModel" (change)="log(password)" id="password" type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                                <!-- <div class="form-control-feedback" *ngIf="password.errors.minlength">Minimum 6 characters</div>
                            </div> -->
                            </div>
                            <button type="submit" class="btn btn-danger btn-block btn-round">Sign In</button>
                     
                        <div class="forgot">
                            <a href="http://localhost:4200/forgot-passwd" class="btn btn-info btn-link">Forgot password?</a>

                        </div>
                        <div class="signup">
                           <center> <a href="http://localhost:4200/register" class="btn btn-info btn-link">Create an Account</a></center>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
  </div>
</div>
