<div class="wrapper">
  <div class="page-header" style="background-color: black;">
      <div class="filter"></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card fadeInRight card-register">
                        <h3 class="title">Welcome</h3>
                        <form class="register-form">
                          <label>Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="nc-icon nc-circle-10"></i>
                                </span>
                              </div>

                                <input required minlength="3" ngModel name="name" #name="ngModel" type="text" pattern="[A-Za-z]{2,}" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <div   *ngIf="!name.valid && name.touched"> 
                              <div class="alert alert-danger" *ngIf="name.errors.required"> Name Required </div>
                              <div class="alert alert-danger"  *ngIf="name.errors.minlength"> Name must be at least 3 character long  </div>
                              <div class="alert alert-danger" *ngIf="name.errors.pattern"> Alphabets only </div>
                          </div>

                          <label>Address</label>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="nc-icon nc-shop"></i>
                              </span>
                            </div>

                            <input required address ngModel name="address" #address="ngModel" type="text" class="form-control" placeholder="Address" (focus)="focus=true" (blur)="focus=false" >
                          </div>
                          <div class="alert alert-danger"  *ngIf="!address.valid && address.touched"> Enter a Valid Addres!!</div>

                          <label>State</label>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-bank"></i>
                              </span>
                            </div>

                              <input required state ngModel name="state" #state="ngModel" type="text" class="form-control" placeholder="State" (focus)="focus=true" (blur)="focus=false" >
                          </div>
                         <div class="alert alert-danger"  *ngIf="!state.valid && state.touched"> Enter a Valid State</div>

                            <label>City</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="nc-icon nc-map-big"></i>
                                </span>
                              </div>

                              <input required city ngModel name="city" #city="ngModel" type="text" class="form-control" placeholder="City" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <div class="alert alert-danger"  *ngIf="!city.valid && city.touched"> Enter a Valid State!!</div>

                            <label>Pincode</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="nc-icon nc-pin-3"></i>
                                </span>
                              </div>

                                <input required pincode ngModel  name="pin" #pin="ngModel" type="text" maxlength="6" pattern="^([^0][0-9]){6}$" class="form-control" placeholder="Pincode" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                           
                            <div class="alert alert-danger" *ngIf="!pin.valid && pin.touched ">
                              <div class="" *ngIf="!pin.Valid">Enter a valid pin</div>
                              <div *ngIf="pin.errors.pattern">Only Numbers and 6 digits</div> 
                            </div>

                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                              </div>

                                <input required email ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                           <div class="alert alert-danger"  *ngIf="!email.valid && email.touched"> Enter a Valid Email</div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                              </div>
                                <input required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                             <div   *ngIf="!password.valid && password.touched">
                              <div class="alert alert-danger" *ngIf="!password.valid">Enter a valid Password</div>
                            <div class="alert alert-danger" *ngIf="password.errors.pattern">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</div>
                            
                          </div>
                            <button  type="submit" class="btn btn-danger btn-block btn-round">Register</button>
                        </form>
                        
                    </div>
                  </div>
              </div>
          </div>
  </div>
</div>