.register-color{
    background-color: transparent;
    font-weight: bolder;
}
.form-control-feedback{
    color: red;
}
.card-register{
    background: transparent;
}
.title{
    color: white;
}
.btn.btn-danger.btn-block.btn-round{
    background-color:  white;
    color: black;
    border-color: white;
}