<div class="wrapper">
  <div class="page-header" style="background-color: black">
          <div class="card card-register">
            <h3 class="title">FeedBacks</h3>

             <div id="f1" class="f1">
              <label>Feedback1</label>
              <a href="#" target="_self">
                <img src="/images/logo.png" alt="Shirt" align="right" />
              </a>
              <div class="delete" align="right">
                <button onclick="f1()" align="right">Delete</button>
              </div>
            </div> 
            
            <div id="f2" class="f2">
              <label>Feedback2</label>
              <a href="#" target="_self">
                <img src="/images/logo.png" alt="Shirt" align="right" />
              </a>
              <div class="delete" align="right">
              <button onclick="f2()">Delete</button>
              </div>
            </div>

            <div id="f3" class="f3">
              <label>Feedback3</label>
              <a href="#" target="_self">
                <img src="/images/logo.png" alt="TrackPant" align="right" />
              </a>
              <div class="delete" align="right">
                <button onclick="f3()" align="right">Delete</button>
              </div>
            </div>

            <div id="f4" class="f4">
              <label>Feedback4</label>
              <a href="#" target="_self">
                <img src="/images/logo.png" alt="TrackPant" align="right" />
              </a>
              <div class="delete" align="right">
                <button onclick="f4()" align="right">Delete</button>
              </div>
            </div>

            <div id="f5" class="f5">
              <label>Feedback5</label>
              <a href="#" target="_self">
                <img src="/images/logo.png" alt="Shirt" align="right" />
              </a>
              <div class="delete" align="right">
                <button onclick="f5()" align="right">Delete</button>
              </div>
            </div>
          </div>
  </div>
</div>
<script>
  function f1() {
    var x = document.getElementById("f1");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function f2() {
    var x = document.getElementById("f2");
    if (x.style.display === "none") {
      x.style.display = "hide";
    } else {
      x.style.display = "none";
    }
  }
  function f3() {
    var x = document.getElementById("f3");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function f4() {
    var x = document.getElementById("f4");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function f5() {
    var x = document.getElementById("f5");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
